:root {
    --txt-color:#484872;
    --whiteText : white;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;

}

/*------------------------------------- NAVIGATION BAR ---------------------------------------- */

header {
    height: 100vh;
    max-width: 100vw;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('Media/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
   
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav h1 {
    color: var(--whiteText);
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: var(--whiteText);
    margin: 0 15px;
    font-size: 18px;
    transition: all 0.5s ease;
}

nav ul li a:hover{
    /*color:rgb(239, 89, 114);*/
    color: rgb(6, 6, 6);
}

nav #check,
label {
    display: none;
    transition: all 0.3s ease;
}

@media screen and (max-width:650px) {
    label {
        display: block;
        font-size: 33px;
        font-weight: bolder;
        color: var(--whiteText);
        cursor: pointer;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        position: absolute;
        transition: all 0.6s ease;
        top: 0px;
        left: -100%;
        width: 100vw;
        height: 100vh;
        background-color: var(--txt-color);
        border-top-right-radius: 40%;

    }
   
    nav ul li {
        margin: auto;

    }

    nav ul li a {
        font-size: 20px;
    }

    #check:checked+label {
        transform: rotate(45deg);
    }

    #check:checked~ul {
        left: 0;
    }

   
}

.content {
    display: flex;
    height: 60vh;
    color: var(--whiteText);
    margin: 0;
    width: 100vw;
    text-align: center;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

}
.content h2,h1{
    padding: 10px;
}
 .line{
    width: 100px;
    border: 2px solid rgb(234, 60, 118);
}
.btn{
    text-decoration: none;
    color: var(--whiteText);
    background-color: rgb(234, 60, 118);
    border-radius: 15px;
    margin-top: 10px;
    padding: 8px 12px;
    transition: all 0.6s ease;
}
.btn:hover{
    /*color: rgb(234, 60, 118);*/
    color: rgb(12, 12, 12);
    background-color: var(--whiteText);
    box-shadow:  0 4px 8px rgba(0,0,0,0.2);
   
}

/*-----------------------------------------------------------------------------------
----------------------------------MAIN SECTION --------------------------------------
------------------------------------------------------------------------------------- */

.Events_header{
    margin: 10px 0;
    color: var(--txt-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px ;
}
.col{
    width: 400px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0 10px;    
    padding-bottom: 15px;
}
.row .col img{
    width: 400px;
    object-position: center;
    transition:  all 0.5s ease;
   
}
.row .col img:hover{
    transform: scale(0.9);
}
.col h4{
    color: var(--txt-color);
    padding: 5px;
    text-align: center;
}
.row .col p{
    margin-top: 5px;
}
@media screen and (max-width:600px) {
    .row {
        flex-direction: column;
    }
}
@media screen and (max-width:450px) {
    .row .col {
        width: 300px;
    }
}
@media screen and (max-width:300px) {
    .row .col {
        width: 250px;
    }
    nav{
        padding: 10px;
    }
}
/******************************
            *************** EXPLORE SECTION ***********
*********************************** */
.section-1{
    width: 100vw;
    height: 100vh;
    background-image: url('Media/bg2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
   
}
.section-content{
    color: var(--whiteText);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    padding: 20px;
    text-align: center;
}
.section-content p{
    padding: 15px;
    color: rgb(208, 211, 213);
}
@media screen and (max-width:950px) {
   .section-1{
    height: 80vh;
   }
   .section-content {
    width: 80%;
   }
}
@media screen and (max-width:300px) {
    .section-content {
        width: 80%;
       }
}

/**************************
                        ******* ABOUT SECTION *******************
*************** */

.section-2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}
.gallery-content{
    width: 35%;
    margin: 10px;  
    padding: 20px;
}
.gallery-content h2{
    padding-bottom: 8px;
}
.gallery-content p{
    padding: 20px 0;
}
.image-gallery{
    width: 48%;
    display: flex;
    flex-wrap: wrap;
}
.image-gallery img{
    width: 250px;
    margin: 5px;
    transition: all 0.5s ease;
}
.image-gallery img:hover{
    transform: scale(0.9);
}
@media screen and (max-width:1075px){
    .image-gallery img{
        width: 200px;
    }
}
@media screen and (max-width:970px){
    .section-2{
        flex-direction: column;
    }
    .section-2 .gallery-content{
        width: 90%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section-2 .image-gallery {
        width: 80vw;
        justify-content: center;
       
    }
    .section-2 .image-gallery img{
        width: 250px;
    }
}
@media screen and (max-width:650px){
    .section-2 .image-gallery img{
        width: 70vw;
    }

}
/*-----------------------------------------------------------------------------------
----------------------------------FOOTER SECTION --------------------------------------
------------------------------------------------------------------------------------- */
footer{
    background-color:#414180;
    color: var(--whiteText);
    text-align: center;
    padding: 20px;
}